# node_modules: nunca debe subirse
node_modules/

# archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# carpetas de build (opcional)
dist/
build/

# logs
*.log

# sistema
.DS_Store
Thumbs.db
